h1 {
	text-align: center;
	font-size: 40px;
	margin-top:100px;
}

#main-content {
	margin-top: 25px;
	font-size: 22px;
}

#handleSearch {
	margin-left: 10px;
}

#contest-name-column {
	border: 1px solid black;
	padding: 20px 0px;
	margin: 10px 150px;
	text-align: center;
	border-radius: 10px;
}

#contest-name-column:hover {
	box-shadow: 0 1px 10px 1px #cccccc;
}

#problem-element {
	background-color: #343a40;
	margin-left: : -20px;
	padding: 15px 30px;
	text-align: left;
}

#problem-element:nth-child(1) {
	margin-top: 15px;
	border-radius: 10px 10px 0 0 ;
}
#problem-element:nth-last-child(1) {
	/*margin-top: 15px;*/
	border-radius: 0px 0px 10px 10px ;
	padding-bottom:  15px;
}

#problem-element:hover {
	background-color: white;
}
#problem-element a {
	color:white;
}
#problem-element:hover a{
	color: black;
}



a:hover, a:focus {
	text-decoration: none;
	color: black;
}
a {
	color: black;
	display: block;
}
