h1 {
	text-align: center;
	font-size: 60px;
}

ol {
	text-align: left;
	font-size: 30px;
	padding-top: 50px;
	padding-left:100px;
}

.red {
	color: red;
	font-weight: bold;
}
.green {
	color: green;
	font-weight: bold;
}